 <ul>
  <% @events.each do |event| %>
   <li><%= event.date %> - 
   	<a href="/events/<%= event.id %>"><%=event.title%></a> - 
   	<a href="/events/<%= event.id %>/edit" >Edit</a>
   	</li>
  <% end %>
  </ul>
