  <ul>
    <% @events.each do |event| %>
      <li><a href="/events/<%=event.id%>/show"><%=event.date%></a> - <%=event.title%> - <a href="/event/<%=event.id%>/edit" >Edit</a> </li>
    <% end %>
  </ul>
